{% extends 'layout.html' %}

{% block navbar %}
    <li><a href="{{ url_for('main.prev_doi', doi_id=display_data['doi_id']) }}">Prev</a></li>
    <li><a href="{{ url_for('main.next_doi', doi_id=display_data['doi_id']) }}">Next</a></li>
{% endblock %}

{% block body %}
    {% block article_header %}
        <div>
            <div class="row">
                <div class="col s12">
                    <h3>{{ display_data["title"] }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                    <div class="col s6">
                    Read status: <a id="ArticleStatusButton"> Invalid status </a>
                    </div>

                    <div class="col s6">
                        {% if display_data['is_ignored'] %}
                            <a class="waves-effect waves-light btn grey"
                               href="{{url_for("main.toggle_ignored", doi_id = display_data['doi_id'])}}">
                               Remove ignored
                            </a>
                        {% else %}
                            <a class="waves-effect waves-light btn grey darken-2"
                               href="{{url_for("main.toggle_ignored", doi_id = display_data['doi_id'])}}">
                               Mark ignored
                            </a>
                        {% endif %}

                    </div>

                    </div>

                    <div class="row">
                          <h6> Authors:
                            {% for author in display_data['authors'] %}
                                 <div class="chip"> {{ author }} </div>
                            {% endfor %}
                          </h6>

                    </div>
                    <h6> Publisher: {{ display_data['publisher'] }} </h6>

                    {% if display_data['published_in'] %}
                        <h6> Published in: {{ display_data['published_in'] }} </h6>
                    {% endif %}

                    {% if display_data['journal_info'] %}
                        <h6> {{ display_data['journal_info'] }} </h6>
                    {% endif %}

                    {% if display_data['issn'] %}
                        <h6> ISSN: {{ display_data['issn'] }} </h6>
                    {% endif %}

                    {% if display_data['doi_link'] %}
                        <h6> Doi: <a href="{{ display_data['doi_link'] }}"> {{ display_data['doi'] }} </a></h6>
                    {% else %}
                        <h6> Doi: {{ display_data['doi'] }} </h6>
                    {% endif %}
                    {% if display_data['scopus_link'] %}
                        <h6> <a href="{{ display_data['scopus_link'] }}"> Scopus link </a></h6>
                    {% endif %}

                    {% if display_data['read_error'] %}
                        <h6> Read error : {{ display_data['read_error'] }} </h6>
                    {% endif %}

                    <a class="waves-effect waves-light btn blue-2"
                        href="{{url_for("main.reload", doi_id = display_data['doi_id'])}}">
                        Reload
                    </a>
                    {% if display_data['has_pdf']%}
                        <a class="waves-effect waves-light btn red lighten-3"
                           href="{{url_for("main.get_pdf", doi_id = display_data['doi_id'])}}">
                           PDF
                        </a>
                    {% endif %}



                </div>
                <div class="col s6">
                <div class="row">
                    {% for user, status in display_data.statuses %}
                        {% if status.value == 1 %}
                            <a class="waves-light btn-small yellow darken-2">To be checked
                        {% elif status.value == 2 %}
                            <a class="waves-light btn-small green">Accepted
                        {% elif status.value == 3 %}
                            <a class="waves-light btn-small red">Rejected
                        {% endif %}
                    <div class="chip"> {{ user }} </div>
                    </a>
                   {% endfor %}
                </div>

                   {% if session['user'] %}
                        <div class="row">
                                <a class="waves-effect waves-light btn yellow darken-2"
                                    href="{{url_for("main.change_status", doi_id = display_data['doi_id'], status = 1)}}">
                                    Reset
                                </a>

                                <a class="waves-effect waves-light btn green"
                                    href="{{url_for("main.change_status", doi_id = display_data['doi_id'], status = 2)}}">
                                    Accept
                                </a>

                                <a class="waves-effect waves-light btn red"
                                   href="{{url_for("main.change_status", doi_id = display_data['doi_id'], status = 3)}}">
                                   Reject
                                </a>
                        </div>
                   {% endif %}
                    <ul class="collection">
                        <li class="collection-header">
                            Comments:
                        </li>
                        {% for comment in display_data['comments'] %}
                            <li class="collection-item">
                                    {{ comment['text'] }}
                                    <div class="chip"> {{ comment['user_name'] }} </div>
                                    {% if comment.can_delete %}
                                    <a class="secondary-content"
                                        href="{{url_for("main.remove_comment",
                                            doi_id = display_data['doi_id'],
                                            comment_id = comment['comment_id'])}}">
                                            <i class="material-icons">delete</i>
                                    </a>
                                    {% endif %}
                            </li>
                        {% endfor %}
                    {% if session['user'] %}
                        <li>
                            <form method="POST" class="col s12">
                               <div class="row">
                                    {{ comment_form.csrf_token }}
                                    <div class="input-field col s9">
                                        {{ comment_form.comment}}
                                    </div>
                                    <div class="input-field col s3">
                                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                                href="{{ url_for('main.view_doi', doi_id = display_data['doi_id'])}}">
                                          Add comment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block article_content %}
     {% set counter = {
            'sentence_bundle': 1,
            'paragraph_bundle': 1
        } %}
    {% macro increment(dct, key, inc=1) %}
        {% if dct.update({key: dct[key] + inc}) %} {% endif %}
    {% endmacro %}


    <ul class="collapsible expandable">
        {% for section in display_data['sections'] %}
            <li {% if not section['hidden'] %} class="active" {% endif %}>
                <div class="collapsible-header">
                    {{ section['title'] }}
                </div>
                <div class="collapsible-body">
                    {% for paragraph_bundle in section['paragraphs_bundles'] %}
                        {% if paragraph_bundle['hidden'] %}
                            <a class="waves-effect waves-light btn-small"
                            aria-controls="paragraph-bundle{{ counter.paragraph_bundle }}">Expand paragraphs</a>
                        {% endif %}
                        <div class="paragraph-bundle"
                             id="paragraph-bundle{{ counter.paragraph_bundle }}"
                                {{ increment(counter, 'paragraph_bundle') }}
                                {% if paragraph_bundle['hidden'] %}
                                    hidden
                                {% endif %}
                        >
                            {% for paragraph in paragraph_bundle['paragraphs'] %}
                                <p class="paragraph">
                                    {% for sentence_bundle in paragraph %}
                                        {% if sentence_bundle['hidden'] %}
                                            <a class="waves-effect waves-light btn-small"
                                                    aria-controls="sentence-bundle{{ counter.sentence_bundle }}">...</a>
                                        {% endif %}
                                        <span class="sentence-bundle"
                                             id="sentence-bundle{{ counter.sentence_bundle }}"
                                                {{ increment(counter, 'sentence_bundle') }}
                                                {% if sentence_bundle['hidden'] %}
                                                     hidden
                                                {% endif %}
                                        >
                                            {% for sentence in sentence_bundle['sentences'] %}
                                                <span class="sentence">
                                                    {%for sentence_part in sentence%}
                                                    {%if sentence_part['marked']%}
                                                    <span class="marked" style="background-color:yellow">
                                                        {{sentence_part['text']}}
                                                    </span>
                                                      {% else %}
                                                        {{sentence_part['text']}}
                                                      {% endif %}
                                                  {% endfor %}
                                                  </span>
                                            {% endfor %}
                                        </span>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
{% endblock %}


{% block scripts %}
    <script>
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    </script>

    <script>
        if ('querySelector' in document && 'addEventListener' in window) {
            var toggleButtons = document.querySelectorAll('.waves-effect.waves-light.btn-small');
            [].forEach.call(toggleButtons, function (toggleButton) {
                toggleButton.addEventListener('click', function () {
                    console.log("trying to find sentence bundle with id: " + this.getAttribute('aria-controls'));
                    var fullTextWrapper = document.querySelector('#' + this.getAttribute('aria-controls'));
                    console.log("found: " + fullTextWrapper + "with class: " + fullTextWrapper.className)
                    fullTextWrapper.removeAttribute('hidden');
                    this.style.display='none'
                });
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.action-btn');
            var instances = M.FloatingActionButton.init(elems, {
              direction: 'right'
            });
        });
    </script>

    <script>
        var status = "{{ display_data['status']|tojson}}";
        console.log("status is " + status);
        var button = $('#ArticleStatusButton');
        button.attr('class', ArticleStatusMap[status].class_enabled);
        button.text(ArticleStatusMap[status].name);
    </script>

{% endblock %}


