<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Automated Search helper</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{ JSGlue.include() }}
</head>

<body>
      <nav>
        <div class="nav-wrapper">
          <div class="brand-logo">Automated Search Helper</div>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if session['user'] %}
                <li> Logged as {{ session['user']['display_name']}} </li>
                <li><a href="{{ url_for("main.logout") }}">Logout</a></li>
              {% else %}
                 <li><a href="{{ url_for("main.login") }}">Login</a></li>
                 <li><a href="{{ url_for("main.register") }}">Register</a></li>
              {% endif %}
              <li><a href="{{ url_for("main.upload_finder") }}">Upload Finder</a></li>
              <li><a href="{{ url_for("main.view_articles_list") }}">Upload Articles</a></li>
              <li><a href="{{ url_for("main.index") }}">Index</a></li>
              <li><a href="{{ url_for("main.results") }}">Generate results</a></li>
          {% block navbar %}
          {% endblock %}
          </ul>
        </div>
      </nav>
{% block body %}
{% endblock %}


<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    const ArticleStatusMap ={
        "1" : {
            "name" : "Full read with findings",
            "class_enabled" : 'waves-light btn green darken-2',
            "class_disabled": 'waves-light btn green lighten-4',
            "id_string": "FullWithFindingsButton"
        },
        "2" : {
            "name" : "Partial read with findings",
            "class_enabled" : 'waves-light btn light-green darken-2',
            "class_disabled": 'waves-light btn light-green lighten-4',
            "id_string": "PartialWithFindingsButton"
        },
        "3" : {
            "name" : "Partial read - error",
            "class_enabled" : 'waves-light btn orange darken-2',
            "class_disabled": 'waves-light btn orange lighten-4',
            "id_string": "PartialWithoutFindingsErrorReadingButton"
        },
        "4" : {
            "name" : "Partial read - not supported",
            "class_enabled" : 'waves-light btn yellow darken-2',
            "class_disabled": 'waves-light btn yellow lighten-4',
            "id_string": "PartialWithoutFindingsPublisherNotSupportedButton"
        },
        "5" : {
            "name" : "Full read no findings",
            "class_enabled" : 'waves-light btn red darken-2',
            "class_disabled": 'waves-light btn red lighten-4',
            "id_string": "FullWithoutFindingsButton"
        },
        "6" : {
            "name" : "Ignored",
            "class_enabled" : "waves-light btn grey darken-2",
            "class_disabled": "waves-light btn grey lighten-2",
            "id_string": "IgnoredButton"
        },
    };
</script>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
        <script>   M.toast({html: "{{message}}" }) </script>
    {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block scripts %}
{% endblock %}

</body>
</html>