{% extends 'layout.html' %}


{% block body %}
 <ul class="collection with-header">
  <li class="collection-header"><h4>Articles with findings: {{articles_with_findings|length}}</h4></li>
     {% for article in articles_with_findings %}
      <li  class="collection-item">
          <a class="action" href="{{ url_for('main.view_doi', doi_id=article['id']) }}" >
              {{ article['title'] }}
          </a>

            {% for user, status in article['statuses'] %}
                {% if status.value == 1 %}
                    <a class="secondary-content waves-light btn-small yellow darken-2">To be checked
                {% elif status.value == 2 %}
                    <a class="secondary-content waves-light btn-small green">Accepted
                {% elif status.value == 3 %}
                    <a class="secondary-content waves-light btn-small red">Rejected
                {% endif %}
                     <div class="chip">{{ user }}</div>
                  </a>
            {% endfor %}
      </li>
     {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Articles without findings: ({{articles_without_findings|length}})</h4></li>
     {% for article in articles_without_findings %}
      <li  class="collection-item">
          <a class="action" href="{{ url_for('main.view_doi', doi_id=article['id']) }}" >
              {{ article['title'] }}
          </a>
      </li>
     {% endfor %}
</ul>


<ul class="collection with-header">
  <li class="collection-header"><h4>DOIs with improper read: {{articles_with_error|length}}</h4></li>
     {% for article in articles_with_error %}
          <li  class="collection-item">
              <a class="action" href="{{ url_for('main.view_doi', doi_id=article['id']) }}" >
                  {{ article['title'] }}
              </a>
          </li>
     {% endfor %}
</ul>

{% endblock %}