{% extends 'layout.html' %}


{% block body %}
<style>
td.details-control {
    background: lightgreen   no-repeat;
    cursor: pointer;
}
tr.shown td.details-control {
    background: lightcoral  no-repeat;
}
</style>


<div class="row">

  <div id="admin" class="col s12">
      <table id="datatable" class="display" style="width:100%">
          <caption>
            <a id="FullWithFindingsButton"> Full read with findings </a>
            <a id="PartialWithFindingsButton"> Partial read with findings </a>
            <a id="PartialWithoutFindingsErrorReadingButton"> Partial read - error </a>
            <a id="PartialWithoutFindingsPublisherNotSupportedButton"> Partial read - not supported </a>
            <a id="NoAccessToArticleButton"> No access </a>
            <a id="FullPDFWithoutFindingsButton"> Full read from PDF no findings </a>
            <a id="FullWithoutFindingsButton"> Full read no findings </a>
            <a id="IgnoredButton"> Ignored </a>
          </caption>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Article Status</th>
            <th>Read Error</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        function format ( d ) {
        // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td>Doi:</td>'+
                    '<td>'+d.doi+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Statuses:</td>'+
                    '<td>'+d.statuses+'</td>'+
                '</tr>'+
            '</table>';
          }

        var articlesData = {{ articles|tojson }};

        articlesData = articlesData.map(function (data) {
             data.statuses = data.statuses.map(
                    function (statusData) {
                        var result = '';
                        if (statusData[1] == 1)
                            result+= '<a class="waves-light btn-small yellow">To be checked';
                        else if (statusData[1] == 2)
                            result+= '<a class="waves-light btn-small green">Accepted'
                        else
                            result+= '<a class="waves-light btn-small red">Rejected'
                        result += '<div class="chip">' + statusData[0]+ '</div></a>'
                        return result;
                    }
                ).join(' ');
                return data;
        });

        $.fn.dataTable.ext.order['articleStatus'] = function  ( settings, col )
        {
            return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return articlesData[i].article_status;
            } );
        };
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var rowStatus = articlesData[dataIndex].article_status;

                for (status in ArticleStatusMap)
                {
                    var buttonClass = $("#" + ArticleStatusMap[status].id_string).attr("class")
                    if(buttonClass == ArticleStatusMap[status].class_disabled && rowStatus == status)
                    {
                        return false;
                    }
                }

                return true;
            }
        );

        $(document).ready( function () {
            var table = $('#datatable')
                .DataTable(
                {
                    data : articlesData,
                    paging: false,
                    columns : [
                        {
                            "className":      'details-control',
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": '<i class="material-icons">expand_more</i>'
                        },
                        {data: "id"},
                        {
                            data: "title",
                            render: function ( data, type, row, meta ) {
                              return  '<a class="action" href="'
                                  + Flask.url_for('main.view_doi', {'doi_id' : row.id})
                                  + '" >'
                                  + data + '</a>';
                            }
                        },
                        {data: "publisher"},
                        {
                            data: "article_status",
                            render: function ( data, type, row, meta ) {
                              var result = '<a style="width:90%" class="';
                              result += ArticleStatusMap[data].class_enabled
                              result +='"></a>';
                              return result;
                            },
                            "orderDataType": "articleStatus"
                        },
                        {data: "read_error"},
                    ],
                    "order": [[1, 'asc']]
                }
            );

            // Add event listener for opening and closing details
            $('#datatable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    $(this).html('<i class="material-icons">expand_more</i>');
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    $(this).html('<i class="material-icons">expand_less</i>');
                    tr.addClass('shown');
                }
            } );

            for (status in ArticleStatusMap)
            {
                const info = ArticleStatusMap[status];
                var button = $('#'+info.id_string);
                button.attr("class", info.class_enabled);
                button.on('click', function () {
                    if (this.className == info.class_enabled)
                        this.className = info.class_disabled;
                    else
                        this.className = info.class_enabled;
                    table.draw()
                });
            }
        } );
    </script>
{% endblock %}

