{% extends 'layout.html' %}

{% block body %}
<h2>Please provide required files</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="file-field input-field">
      <div class="btn">
        <span>Doi list</span>
        {{ form.doi_list }}
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Finder file</span>
        {{ form.finder }}
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    {{ form.finder_text }}
  <button class="btn waves-effect waves-light" type="submit" name="action" href="{{ url_for('main.upload')}}">
      Process articles
  </button>
</form>

{% endblock %}




